*
{
    margin: 0;
    padding: 0;
    list-style: none;
   
}
img{
    max-width: 100%;;
}
body{
    background-color: #010a5e;
}
@media screen and (max-width:768px)
{
    nav .logo
    {
        color: #fff;
        padding: 15px 0 0 50px;
    }
    .list
    {
        display: none;
    }
    .humberger ul{
    list-style: none;
    }
    .humberger ul li 
    {
        display: inline-block;
        position: relative;
    }
    .humberger ul li a {
        display: block;
        padding: 20px 25px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }
    .humberger ul li ul.dropdown li{
    display: block;
   
    }
    
    .humberger ul li ul.dropdown li a 
    {
        color: #fff;
        
    }
    .humberger ul li ul.dropdown 
    {
        width: 100%;
       
        position: absolute;
        z-index: 999;
        display: none;
        text-align: center
      
    }
    .humberger ul li:hover ul.dropdown 
    {
        display: block;
       width:100%;
        height: 100vh;
       
       
        
    }
    .hum{
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 10px;
        position: fixed;
        right: 20px;
        top: 10px;
    
    }
/* --------------------main container ----------------*/    

.maincontainer
{
    max-width: 570px;
   
    margin: 0 auto;
   
}
.maincontainer img 
    {
        max-height: 70vh;
        object-fit: contain;
      margin: -40px 0 30px 5%;
      width: 500px;
        height: 400px;
    }
.maincontainer .main-text
{ font-family: sans-serif;
    color: #fff;
    text-align: center;
     text-transform: uppercase;
     margin: 0 10px 0 10px;
    
}
.maincontainer .main-text h1
{
font-size: 36px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
padding-bottom: 15px;
line-height: 40px;

}

hr 
{
  border: #ffcc00;
  height: 3px;
  color: #ffcc00;
  background-color: #ffcc00;
  width: 150px;
  
  margin: 0 auto;
}
 .discription
 {
    color: #c2c2c2;
    margin: 0 10px 0 10px;
    font-size: 0.9rem;
    text-align: center;
 }  
 .maincontainer .icons ul
 {
    display: flex;
    color: #fff;
    gap: 15px;
    width: 60%;
    margin: 20px auto;
 } 
 .button
 {width: 120px;
    margin: 20px auto;
    justify-content: space-around;
   
 }
 .maincontainer button{
background-color: #ffcc00;
border: none;
width:100px;
border-radius: 5px;
height: 30px;
padding: 10px;
margin: 0  auto;
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }
 .maincontainer button:hover
 {
    background-color: #dab41c;
    color: #979494;
 }
 /*---------------------------paydaypromo-------------------------*/
 .payday-promo-container .payday1
{
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
    font-family:sans-serif;
    background-color: #010d78;
    margin-top: 20px;
    border-radius: 10px;
}
.payday-promo-container .payday1 img 
{
    height: 140px;
    margin: 10px 0 0 120px;
}
/*---------------promotion-container------------------------------------------*/
.promotion-container .main-text
{
    margin-top: 40px;
}



}


/*=============================device width=========================================================*/

@media screen and (min-width:765px) and (max-width:992px)
{
    .menu-container .img-container
    {
        height: 300px;
        
    }
}
@media screen and (min-width:992px)
{
    .menu-container .img-container
    {
        height: 170px;
        
    }   
}
@media  screen   and (min-width:768px)
{
  .humberger
  {
   display: none;
  }
 
    nav 
    {
        display: flex;
        position: fixed;
        width: 100%;
         top: 0;
         background-color:#010a5e;
    }
    nav ul{
       display: flex;
       right: 10rem;
       position: fixed;
      gap: 35px;
       padding: 15px;
      
    }
    nav ul a 
    {
     text-decoration: none;
     color: #fff;
     font-size: 1.2rem;
    }
    nav .logo
    {
        color: #fff;
        padding: 15px 0 0 100px;
    }
    /*------------------- main-container--------------------------*/
    .maincontainer
    {
       margin-top: 90px;
       height: 80vh;
       margin-top: 80px;
    }
    .maincontainer .main-text h1
    {
        font-weight: bolder;
    }
    .maincontainer img 
    {
        max-height: 70vh;
        object-fit: contain;
      margin: 40px 0 30px 10%;
      width: 500px;
        height: 600px;
    }
    .maincontainer .main-text-container
    {
        padding:80px 0 15px 0;
    }
    .maincontainer .main-text
    { font-family: sans-serif;
        color: #fff;
        text-align: center;
         text-transform: uppercase;
         margin: 0 10px 0 10px;
        
    }
    .maincontainer .discription
    {
       color: #c2c2c2;
       margin: 0 10px 0 10px;
       font-size: 0.9rem;
       text-align: center;
    } 
    .maincontainer .icons ul
    {
       display: flex;
       color: #fff;
       gap: 15px;
       width: 60%;
       margin: 20px auto;
    } 
    .button
    {width: 120px;
       margin: 20px auto;
       justify-content: space-around;
      
    }
    .maincontainer button{
        background-color: #ffcc00;
        border: none;
        
        border-radius: 5px;
        
        padding: 10px;
        margin: 0  auto;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        
         }
         /*----------------------food container-----------------*/
         .food-container
         { margin-top: 50px;
            
            justify-content: space-around;
         }
         .food1, .food2, .food3
         {
            background-color: #ffcc00;
            display: flex;
            height: 100px;
            width: 30%;
            justify-content: space-between;
            line-height: 15px;
            border-radius: 20px;
            color: #fff;
         }
         .food2{
            background-color: #cc3433;
         }
         .food3
         {
            background-color: #007936;
         }
         .food-container img 
         {
            position:relative;
            width: 60px;
            height: 50px;
            bottom: -50px;
            left: -20px;
            object-fit: cover;
            overflow:visible;
           
         }
/*----------------------------payday-promo----------------------------*/
.payday-promo-container 
{
    
    margin-top: 100px;
}

.payday-promo-container .payday1
{
    display: flex;
    color: #f8f8f8;
    font-family:sans-serif;
    background-color: #010d78;
    margin-top: 20px;
    border-radius: 10px;
}
.payday-promo-container .payday1 img 
{
    height: 160px;
    margin:20px 0 0 10px;
    object-fit: contain;
}
/*---------------promotion-container------------------------------------------*/

}

/*============================common style===========================================*/
hr 
{
    width: 150px;
    color:#ffcc00 ;
    margin: 0 auto;
    opacity: 100%;
}
.food-container
         { margin-top: 50px;
            
            justify-content: space-around;
         }
         .food1, .food2, .food3
         {
            background-color: #ffcc00;
            display: flex;
            height: 100px;
           gap: 10px;
            justify-content: space-between;
            line-height: 15px;
            border-radius: 20px;
            color: #fff;
            margin-top: 30px;
            padding-right: 30px;
         }
         .food2{
            background-color: #cc3433;
         }
         .food3
         {
            background-color: #007936;
         }
         .food-container img 
         {
            position: relative;
            width: 60px;
            height: 50px;
            bottom: -50px;
            left: -20px;
            object-fit: contain;
            overflow: hidden;
           
         }
         .food-container a 
         {
            text-decoration: none;
            color: black;
         }

  /*-------------------------------------payday-promo----------------------------*/
  .payday-promo-container .text{
    
    padding: 50px;
    line-height: 15px;
}
.payday-promo-container .top , a
{
    color: #ffcc00;
    text-decoration: none;
}
.payday-promo-container h4{
    font-weight: bolder;
}
.payday-promo-container p {
color: #c2c2c2;
}       
.payday-promo-container .payday1 img 
{
    
    object-fit: contain;
}

/*------------------------------promotion-container----------------------*/
.promotion-container{
    margin-top: 100px;
}
.promotion-container img
{
    border-radius: 10px;
}
.promotion-container .main-text
{
    font-size: 32px;
    color: #f8f8f8;
    font-weight: bolder;
    line-height: 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.promotion-container p {
    color:#c2c2c2;
    margin-top: 30px;
}
.promotion-container .lists  {
    display: flex;
    color: #c2c2c2;
    justify-content: space-around;
    
}
.promotion-container .lists ul li{
    list-style:inside;
   color: #ffcc00;
}
.promotion-container .lists ul li a
{
    color: #c2c2c2;
    font-size: 14px;
}
.promotion-container button 
{
    background-color: #ffcc00;
    width: 120px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}
/*---------------------------best-menu------------------------------------*/
.best-menu
{
    color: #f8f8f8;
    text-align: center;
    margin-top: 50px;
}
.best-menu .h2
{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.best-menu p 
{
    font-size: small;
    color:#f8f8f8;
    margin-top: 30px;
}
/*--------------------selecion-button-groups---------------------------------*/
.selecion-button-groups{
    justify-content: space-around;
}
.selecion-button-groups button{
    background-color:#010d78;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    color:#fff;
}
.selecion-button-groups .button-container
{
    width: 60%;
    margin: 40px auto;
   
}
.selecion-button-groups button:hover{
    background-color: #ffcc00;
}
/*------------------menu-container------------------------*/


.menu-container .first , .second-row , .third-row , .fourth-row
{
justify-content: space-between;
color: #fff;
   
}
.menu-container .img-container
{
    border-radius: 30px;
    background-color: #010d78;
    display: flex;
    align-items: center;
    padding: 30px 60px 30px 60px;
    
}
.menu-container img
{
    object-fit: cover;
    max-width: 80%;
}
.menu-container img:hover
{
width: 90%;
}
.menu-container .img-container:hover
{
    background-color: #ffcc00;
}
.menu-container-padding
{
    align-items: baseline;
}
.menu-container h4 
{
    font-size: 20px;
}
.menu-container p 
{
    font-size: small;
    color: #c2c2c2;
}
.menu-container .price{
color: #dab41c;
}
/* ----------------------footer-container------------------------- */
.footer-container
{
    display: flex;
    margin-top: 50px;
    color:#fff;
    justify-content: space-around;
}
.footer-left-container
{
    max-width: 27%;
}

.footer-container .bold-footer-text
{
    color: #fff;
    font-size: 20px;
}
.footer-container img 
{
    width: 20px;
    height: 20px;
    color:#fff;
}
